__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
*.log
runs/
outputs/
*.parquet
!data/README.txt
.env
*.out
*.toc
*.synctex.gz
*.aux
archive
Dockerfile
.dockerignore
.Rhistory  
.devcontainer
Session1_Multiple_regression_Ridge.ipynb
Session2_RandomForest_restructured.ipynb
Session3_XGBoost.ipynb
Session4_NeuralNetworks.ipynb  
Section4_NeuralNetworks(1).ipynb
